environment: development

panel:
  initialInviteCode: cuLLgJ9LEIf
  panelSecret: QtSDzCJcBJaDhde5A0jZ
  storagePath: /storage
  panelHost: panel-bmc.wiji.dev
  k8sDashboardHost: k8s-bmc.wiji.dev
  inviteCodeExpiryDays: 7

loadBalancer:
  # Options:
  #  - metallb : requires entrypointIP

  type: metallb
  entrypointIP: 5.78.123.236

ingress:
  ingressClass: "traefik"
  panelDomain: panel-bmc.wiji.dev

storage:
  # Must support ReadWriteMany Access
  storageClass: "nfs"
  reclaimPolicy: "Retain"
  volumeSize:
    persistent: "10Gi"
    scalable: "5Gi"
    proxy: "5Gi"
    process: "2Gi"
    manifests: "1Gi"
    mariaDB: "5Gi"
    mongoDB: "5Gi"

redis:
  host: "redis-service"
  port: 6379

mariaDB:
  host: mariadb-service
  port: 3306
  username: root
  database: bmc

  initPassword: K46IZkZm44N95h0fparY

mongoDB:
   host: mongodb-service
   port: 27017
   username: admin
   database: admin

   initPassword: QpbCcKBWfQTPVASXQmvQ

prometheus:
  host: prometheus-service
  port: 9090

sftp:
  password: v6Qkb82i8V3x

fileEditSession:
  timeoutMinutes: 15


