apiVersion: apps/v1
kind: Deployment
metadata:
  name: autoscaler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: autoscaler
  template:
    metadata:
      labels:
        app: autoscaler
    spec:
      serviceAccountName: kubectl-sa
      containers:
      - name: controller
        image: "kyrokrypt/bmc-autoscaler:latest"
