apiVersion: apps/v1
kind: Deployment
metadata:
  name: manager
  labels:
    app: manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: manager
  template:
    metadata:
      labels:
        app: manager
    spec:
      serviceAccountName: kubectl-sa
      containers:
      - name: manager
        image: kyrokrypt/bmc-manager:latest
        env:
          - name: REDIS_HOST
            value: {{ .Values.global.redis.host }}
          - name: REDIS_PORT
            value: {{ .Values.global.redis.port | quote }}
