apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
  labels:
    app: mariadb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
      - name: mariadb
        image: mariadb:latest
        ports:
        - containerPort: 3306
        env:
        - name: MARIADB_ROOT_PASSWORD
          value: {{ .Values.global.mariaDB.initPassword }}
        - name: MARIADB_DATABASE
          value: "bmc"
        - name: MARIADB_ROOT_HOST
          value: "%"
        volumeMounts:
        - name: mariadb-storage
          mountPath: /var/lib/mysql
        - name: init-script
          mountPath: /docker-entrypoint-initdb.d
      volumes:
      - name: mariadb-storage
        persistentVolumeClaim:
          claimName: mariadb-pvc
      - name: init-script
        configMap:
          name: mariadb-init-script
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mariadb-init-script
data:
  init.sql: |
    FLUSH PRIVILEGES;
---
apiVersion: v1
kind: Service
metadata:
  name: mariadb-service
spec:
  type: NodePort
  selector:
    app: mariadb
  ports:
  - port: 3306
    targetPort: 3306
    nodePort: 30036
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-pvc
spec:
  accessModes: ["ReadWriteMany"]
  storageClassName: {{ .Values.global.storage.storageClass }}
  resources:
    requests:
      storage: {{ .Values.global.storage.volumeSize.mariaDB }}