{{- if eq .Values.global.loadBalancer.type "metallb" }}
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default
  namespace: metallb-system
  labels:
    {{- include "common.labels" . | nindent 4 }}
spec:
  addresses:
    - {{ .Values.global.loadBalancer.entrypointIP }}/32
  autoAssign: true
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default
  namespace: metallb-system
spec:
  ipAddressPools:
    - default
{{- end }}