{{- if and (eq .Values.global.loadBalancer.provider "metallb") .Values.global.loadBalancer.metallb.installResources }}
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default
  namespace: metallb-system
  labels:
    {{- include "common.labels" . | nindent 4 }}
spec:
  addresses:
    {{- range .Values.global.loadBalancer.metallb.ipAddressPool }}
    - {{ . }}
    {{- end }}
  autoAssign: true
---
{{- if eq .Values.global.loadBalancer.metallb.advertisementMode "l2" }}
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default
  namespace: metallb-system
  labels:
    {{- include "common.labels" . | nindent 4 }}
spec:
  ipAddressPools:
    - default
{{- end }}
{{- end }}