apiVersion: apps/v1
kind: Deployment
metadata:
  name: panel
  labels:
    {{- include "common.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: panel
  template:
    metadata:
      labels:
        app: panel
    spec:
      serviceAccountName: kubectl-sa
      volumes:
        - name: storage
          persistentVolumeClaim:
            claimName: bmc-panel-storage
        - name: kube-config
          emptyDir: {}
      securityContext:
        fsGroup: 1000
      containers:
        - name: panel
          image: kyrokrypt/bmc-panel:latest
          imagePullPolicy: Always
          securityContext:
            runAsUser: 0
            runAsGroup: 0
          env:
            - name: GLOBAL_VALUES_JSON
              value: {{ .Values.global | toJson | quote }}
            - name: INITIAL_INVITE_CODE
              value: {{ .Values.global.initialInviteCode }}
            - name: PANEL_HOST
              value: {{ .Values.global.ingress.panelDomain }}
            - name: PANEL_SECRET
              value: {{ .Values.global.panelSecret }}
            - name: K8S_DASHBOARD_HOST
              value: {{ .Values.global.k8sDashboardDomain }}
            - name: MARIADB_PASSWORD
              value: {{ .Values.global.mariaDB.initPassword }}
            - name: MONGO_INITDB_ROOT_PASSWORD
              value: {{ .Values.global.mongoDB.initPassword }}
            - name: STORAGE_PATH
              value: "/storage"
            - name: ENVIRONMENT
              value: {{ .Values.global.environment }}
          volumeMounts:
            - name: storage
              mountPath: /storage
              readOnly: false
---
apiVersion: v1
kind: Service
metadata:
  name: panel-service
  labels:
    {{- include "common.labels" . | nindent 4 }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /api$1
spec:
  selector:
    app: panel
  ports:
    - name: app
      protocol: TCP
      port: 80
      targetPort: 3000
  type: ClusterIP
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
 name: bmc-panel-storage
spec:
 accessModes: ["ReadWriteMany"]
 storageClassName: {{ .Values.global.storage.storageClass }}
 resources:
   requests:
     storage: {{ .Values.global.storage.volumeSize.manifests }}
---
