apiVersion: v1
kind: Service
metadata:
  name: proxy-lb
  annotations:
    metallb.universe.tf/allow-shared-ip: "shared-ip-key"
    metallb.universe.tf/loadBalancerIPs: "{{ .Values.global.ingress.entrypointIP }}"
spec:
  type: LoadBalancer
  selector:
    app: proxy
  ports:
    - protocol: TCP
      port: 25565
      targetPort: 25565
      name: java
    - protocol: UDP
      port: 19132
      targetPort: 19132
      name: bedrock