apiVersion: v1
kind: ServiceAccount
metadata:
  name: kubectl-sa
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubectl-cluster-role
rules:
  - apiGroups: [""]
    resources:
      - services
      - pods
      - pods/log
      - pods/exec
      - pods/portforward
      - secrets
      - persistentvolumeclaims
      - configmaps
      - events
    verbs:
      - list
      - get
      - create
      - update
      - patch
      - delete
      - watch

  - apiGroups: ["apps"]
    resources:
      - deployments
      - deployments/scale
      - statefulsets
      - statefulsets/scale
      - replicasets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

  - apiGroups: ["networking.k8s.io"]
    resources: ["ingresses"]
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

  - apiGroups: [""]
    resources: ["namespaces", "nodes"]
    verbs:
      - get
      - list
      - watch

  - apiGroups: [""]
    resources: ["pods"]
    verbs:
      - get
      - patch

  - apiGroups: ["storage.k8s.io"]
    resources: ["storageclasses"]
    verbs:
      - get
      - list
      - watch
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list", "create", "update", "patch", "delete"]

  - apiGroups: ["kyriji.dev"]
    resources: ["gameservers"]
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kubectl-cluster-role-binding
subjects:
  - kind: ServiceAccount
    name: kubectl-sa
    namespace: default
roleRef:
  kind: ClusterRole
  name: kubectl-cluster-role
  apiGroup: rbac.authorization.k8s.io